footer{
  position:relative;
  width:100%;
  padding: 40px 10vw;
  padding-bottom: 80px;
  background: #383838;
}
.footer-content{
  display: flex;
  width: 100%;
  justify-content: space-between;

}
.footer-content .logo{
  height: 160px;
  padding-right: 100px;
}
.footer-ul-container{
  width: 45%;
  display: flex;
  justify-content: space-between;

}

.category{
  width: 200px;
  display: grid;
  grid-template-columns:repeat(2, 0.1fr);
  grid-template-rows: repeat(6,0.1fr);
  grid-gap: 10px;
  list-style: none;
}
.category-title{
  grid-column: span 2;
  text-transform: capitalize;
  color: #fff;
  font-family: "Garamond", Times, serif;
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 20px;
}
.category .footer-link{
  text-decoration: none;
  text-transform: capitalize;
  /* color: rgba(255,255,255,0.75); */
  color: #D8D3CD;
  font-family: "Garamond", Times, serif;

}
.footer-link:hover{
  color: #fff;
}
.footer-title{
  font-weight: 1000;
  font-size: 30px;

}
.footer-title,.info{
  color: rgba(255,255,255,0.75);
  margin: 20px 0;
  text-transform: capitalize;
  font-family: "Garamond", Times, serif;
}
footer-title{
  margin-top: 80px;
  color: #fff;
  font-family: "Garamond", Times, serif;
  font-weight: bold;
}
.footer-social-container{
  margin-top:40px;
  display: flex;
  justify-content: space-between;
}
.social-link{
  color: #fff;
  margin-left: 20px;
  text-transform: capitalize;
}
/* 1st link div margin is set to 0 */
.social-link:nth-child(1){
  margin-left: 0;
}
.footer-credit{
  width:100%;
  padding: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
  background: rgba(0,0,0,0.2);

}
